* {
  margin: 0;
  padding: 0;
}
.summary {
  margin-top: 5%;
  width: 80%;
  margin-left: 4%;
  display: flex;
}
.summary img {
  width: 30%;
  height: 70vh;
  box-shadow: 0px 4px 20px 3px rgba(111, 78, 78, 0.7);
}
.summaryDesc p {
  font-size: 14px;
  /* font-weight: lighter; */
  text-align: center;
}
.summaryDesc {
  margin-left: 4%;
}
.summaryDesc h4,
h6 {
  color: #612d08;
}
.summaryDesc h1 {
  background: linear-gradient(268.27deg, #612d08 0%, #d74d00 98.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.details{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    margin-left: 20%;
    gap: 15%;
}
.details p{
    color: #612d08;
}
button{
  height: 40px;
  background-color: #612D08;
  color: white;
  border: none;
  border-radius: 4px;
}