* {
  padding:0;
  margin: 0;
}
.messenger {
  height: calc(100vh - 70px);
  display: flex;
}
.chatMenu {
  flex: 3.5;
}
.chatBox {
  flex: 5.5;
}
.chatMenu {
  flex: 3;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 60%;
  height: 6%;
  border: none;
  color: rgb(172, 159, 159);
  background-color: #d0d0d0;
  padding-left: 2%;
}
.chatMenuInput:focus {
  outline: none;
}
.chatMenuInput::placeholder {
  color: #ccbbb0;
}
