* {
  padding: 0;
  margin: 0;
}
.messenger {
  height: calc(100vh - 0px);
  display: flex;
  background-color: #faf8f6;
}
.chatMenu {
  flex: 3.5;
}
.chatBox {
  flex: 5.5;
}
.chatOnline {
  flex: 3;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 60%;
  height: 6%;
  border: none;
  color: rgb(172, 159, 159);
  background-color: #d0d0d0;
  padding-left: 2%;
}
.chatBoxWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatBoxTop{
  height: 100%;
  overflow-y: scroll;
}
.chatBoxTop::-webkit-scrollbar{
  display: none;
}
.chatMenuInput:focus {
  outline: none;
}
.chatMenuInput::placeholder {
  color: #ccbbb0;
}
.chatBoxBottom{
  display: flex;
}
.chatBoxBottom input {
  width: 90%;
  height: 5vh;
  border: none;
  color: rgb(172, 159, 159);
  background-color:  rgba(124, 80, 50, 0.06);;
  padding-left: 2%;
}
.chatBoxBottom input:focus {
  outline: none;
}
.chatBoxBottom input::placeholder {
  color: #ccbbb0;
}
.chatBoxBottom button {
  border: 0;
  place-items: center;
  cursor: pointer;
  width: 5vw;
  border-radius: 2%;
  outline: none;
  font-size: 25px;
  color: #612d08;
}

.chatBoxBottom button:hover {
  color: #612d08;
}
