*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
.main{
    width: 80%;
    margin-left: auto;
    margin-right : auto;
    background-color: white;
    margin-top: 5vh;
    height: 90vh;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.233);
   
}
.picture {
width: 45%;
height: 80%;
margin-top: 5%;
margin-left: 5%;
background-image: url("https://images.unsplash.com/photo-1513001900722-370f803f498d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Ym9va3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
}
.picture img{
    width: 100%;
    height: 100%;
}
#welcome {   
    font-size: 48px;
}
.form div p{
    margin-top: 5% ;


}
#signup{
    font-size: 2em;
    font-family: 'poppins';
    color: #612D08;
    font-size: 2em;
    margin-left: 30%;
}
.form div{
    margin-left: 40%;
    margin-top: 25%;
    width: 100%;
}
input, button{
    display: block;
    margin-bottom:5%;
    height: 45px;
    width: 92%;
}
input:focus{
    outline:none;
}
input{
    border:1px solid rgba(139, 138, 138, 0.411);
    border-radius: 6px;
    padding-left: 4%;
    font-weight: lighter;
}

 #submit{
    background-color: #612D08;
    color: white;
    width: 40%;
    font-weight: bold;
    border: none;
    margin-left: 28%;
    margin-top: 5%;
    box-shadow: #612D08;

}
 #google{
    border: 1px solid rgba(139, 138, 138, 0.4);
    background-color: white;
}
form{
    margin-top: 5%;
}
#redirect{
    color: #612d08a9;
    margin-left: 2%;
    text-decoration: none;
}
.testimonies {
    background-color: rgba(230, 225, 219, 0.644);;
    width:85%;
    height: 20%;
    margin-top: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    text-align: center;

}

.right{
    font-size: 3em;
    color: white;
    margin-left:10%;
    position: absolute;
}
.left{
    font-size: 3em;
    margin-right: 80%;
    color: white;
}
.slider{
    width:fit-content;
    word-wrap: break-word   ;
}
.slider div div{
    display: inline;
}
.hidden{
    display: none;
}

/* .mainLogin div{
    margin-left: 5%;
    padding-top: 10%;
} */
.displayed{
    width: 50%;

}
.formLogin{
    margin-top: 10%;
    width: 40%;
    margin-left: 10%;
}
.formLogin input{
    width: 75%;
}
.formLogin .fa-user-plus{
    margin-left: 34%;
}
.formLogin h1{
    margin-left: 18%;
}
.formLogin #submit{
    margin-left: 22%;
}
